<ion-view view-title="Add friends">
  <ion-content>
	<div class="list list-inset">	
		<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Search" ng-model="user">
		</label>
	</div>
	<div class ="list">
		<div class="item item-button-right" ng-repeat="u in users | filter:user">
		{{u}}
		<button class="button button-balanced" ng-click="addfriend('{{u}}')">
		<i class="icon ion-plus"></i>
		</button>
		</div>
	</div>
  </ion-content>
</ion-view>
