<ion-view view-title="Friends">
  <ion-content>
	<div class="list">	
	  <ion-item class="item item-icon-left" ng-repeat="friend in friends" ng-click="goToFriend('{{friend}}')">
	    <div style="float:right; font-size:75%; margin-top:-5px">
	  		<button class="button button-small button-assertive ion-minus" ng-click="removefriend('{{friend}}',{{$index}})">
		  		Remove
		  	</button>
		</div>
		<i class="ion-person"></i>
		{{friend}}
	  </ion-item>
	</div>
	<div class="row">
		<div class="col text-center">
			<button class="button icon-left ion-plus button-positive" ng-click="addfriends()">Add friends</button>
		</div>
	</div>
  </ion-content>
</ion-view>
