<ion-view>
  <ion-content class="padding" style="text-align:center; margin-bottom:-20px">
    <img ng-src="img/athlos.png" style="width:180px;" />
    <h4>Sign in to Athlos</h4>
    <div class="list">
      <form name="loginForm">
        <label class="item item-input">
          <input type="email" placeholder="E-mail address" ng-model="user.email" name="email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" name="password" required>
        </label>
        <button class="button button-block button-positive" ng-click="login(user)">
          Login
        </button>
      </form>
    </div>
    <span ng-bind="errorMessage" style="color: #EF4E3A"></span>
  </ion-content>
</ion-view>
