<ion-view>
  <ion-content class="padding center" style="text-align:center;">
    <img ng-src="img/logo.png" style="width:128px;" />
    <p>Sign in to Athlos</p>
    <div class="list">
      <form name="loginForm">
        <label class="item item-input">
          <input type="email" placeholder="E-mail address" ng-model="user.email" name="email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" name="password" required>
        </label>
        <button class="button button-block button-positive" ng-click="login(user)">
          Login
        </button>
      </form>
    </div>
    <span ng-bind="errorMessage" style="color: #EF4E3A"></span>
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <div class="title"><a href="#/forgot" style="text-decoration: none">Forgot your login details?</a></div>
  </div>
</ion-view>
