<ion-view view-title="Profile">
	<ion-content class="padding">
		<h3>
				<div class="button button-small button-calm" style="border: 0px; vertical-align:middle; margin-bottom:5px">
					Level {{profile.level}}
				</div>
				{{profile.name}}
		</h3>
		<div class="button button-full button-balanced" style="border: 0px; background: -webkit-linear-gradient(left, #33CD5F 0%, #33CD5F {{profile.percent}}%, #444 58%, #444 100%);">
			{{profile.remainder}} points to level {{profile.level + 1}}! ({{profile.percent}}%)
		</div>
	  	<div ng-switch="profile.rare.length">
	  		<div ng-switch-when="0">
	  		</div>
	  		<div ng-switch-default>
				  <div class="item item-divider">
				    <strong>Rarest achievements</strong>
				  </div>
				  <div class="item item-text-wrap" style="padding: 0px">
					<div class="list">
					    <li class="item item-thumbnail-left" ng-repeat="a in profile.rare">
						    <img src="img/achievements/{{a._id.$oid}}.jpg">
						  	<h2>{{a.name}}</h2>
						  	<p>{{a.description}}</p>
					    </li>
					</div>
				  </div>
				  <div class="item item-text-wrap" style="padding: 10px">
				    <div style="text-align:right">
						<button class="button button-positive" ng-click="goToAchievements()">View all achievements</button>
					</div>
				  </div>
			</div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <strong>Statistics</strong>
		  </div>
		  <div class="list">
			<li class="item">
				Member for <strong>{{profile.member_for_days}}</strong> days
			</li>
			<li class="item">
				<strong>{{profile.achievement_count}}</strong> {{profile.achievement_count == 1 ? 'achievement' : 'achievements'}}
			</li>
			<li class="item">
				<strong>{{profile.points}}</strong> points
			</li>
		  </div>
		</div>
		<div class="card" ng-show="trueProfile()">
			<div class="item item-divider">
				<strong>Settings</strong>
			</div>
			<li class="item item-toggle">
				Anonymous<br style="display: block; margin: -3px 0;"/>
				<span style="font-size:10px">Don't show my name in the rankings, not recommended</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="isChecked" ng-click = "anonymous(isChecked)">
					<div class="track">
						<div class="handle"></div>
					</div>
				 </label>
			</li>
		</div>
	</ion-content>
</ion-view>
