<ion-view view-title="Profile">
	<ion-content class="padding">
		<h3>
				<div class="button button-small button-calm" style="border: 0px; vertical-align:middle; margin-bottom:5px">
					Level 18
				</div>
				{{userProfile.email}}
		</h3>
		<div class="button button-full button-balanced" style="border: 0px; background: -webkit-linear-gradient(left, #33CD5F 0%, #33CD5F 58%, #444 58%, #444 100%);">
			128 points to level 19! (58%)
		</div>
		<div class="card">
		  <div class="item item-divider">
		    <strong>Rarest achievements</strong>
		  </div>
		  <div class="item item-text-wrap" style="padding: 0px">
			<div class="list">
			    <li class="item item-thumbnail-left">
			      <img ng-src="http://placehold.it/64x64" style="border: 1px solid #ddd; border-radius:5px;">
			      <h2>Thumper</h2>
			      <p>Perform 420 full push-ups within a minute.</p>
			      <p style="font-size:75%">Achieved by 0.1% of all users</p>
			    </li>
			</div>
		  </div>
		  <div class="item item-text-wrap" style="padding: 0px">
			<div class="list">
			    <li class="item item-thumbnail-left">
			      <img ng-src="http://placehold.it/64x64" style="border: 1px solid #ddd; border-radius:5px;">
			      <h2>Tour du Monde</h2>
			      <p>Cycle 40.000 kilometers.</p>
			      <p style="font-size:75%">Achieved by 0.2% of all users</p>
			    </li>
			</div>
		  </div>
		  <div class="item item-text-wrap" style="padding: 10px">
		    <div style="text-align:right">
				<button class="button button-positive">View all achievements</button>
			</div>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <strong>Statistics</strong>
		  </div>
		  <div class="list">
			<li class="item">
				Member for <strong>1</strong> month
			</li>
			<li class="item">
				<strong>42</strong> achievements
			</li>
			<li class="item">
				<strong>1289</strong> points
			</li>
		  </div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<strong>Settings</strong>
			</div>
			<li class="item item-toggle">
				Anonymous<br style="display: block; margin: -3px 0;"/>
				<span style="font-size:10px">Don't show my name in the rankings, not recommended</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				 </label>
			</li>
		</div>
	</ion-content>
</ion-view>
